body {
	background:#333;
	font-family: 'Courier New', Courier, monospace;
	margin-left: 10%;
	margin-right: 10%;
	color: white;
	position: center;
}

.flexbox-container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

img {
	max-width:100%;
    height:auto;
}

header {
	font-weight: 550;
	padding: 17px;
}

header h1 {
	margin: 0;
	display: inline;
	font-size: 30px;
}

h2 {
	font-size: 20px;
	color: #6EE2FF;
}

h3 {
	margin: 2px;
	font-size: 18px;
	color: #a1e4f5;
}

p{
	font-size: 16px;
}

a{
	color: #17D1FF;
}
ul li{
	font-family: 'Courier New', Courier, monospace;
	margin: 0;
	font-size: 16px;
}

nav ul li {
	margin: 0;
	display: inline-block;
	list-style-type: none;
	padding: 5px 40px;	
	font-size: 20px;
}

nav ul li a{
	color: white;
}

a:link{
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

.row {
	margin: 5%;
}
.col:after {
    clear: both;
    content: " ";
    display: table;
}

.col img{
	border-radius: 5%;
	margin: .6%;
	width: 32%;
	float:left;
}

.collist{
	margin: 1%;
	width: 30%;
	float: left;
}

.collist2{
	margin: 2%;
	width: 32%;
	float: left;
}

footer{
	position:abolute;
	font-size: 12px;
}

.collist img{
	border-radius: 50%;
	width: 80%;
}