body {
	background:#333;
	font-family: monospace;
	margin: 0px;
	color: white;
	position: center;
}

.flexbox-container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

img {
	max-width:100%;
    height:auto;
}

header {
	padding: 17px;
}

header h1 {
	padding: 17px;
	margin: 0;
	display: inline;
	font-size: 30px;
}

h2 {
	margin: 20px;
	font-size: 20px;
	color: #6EE2FF;
}

h3 {
	margin: 2px;
	font-size: 18px;
	color: #a1e4f5;
}

p{
	margin: 20px;
	font-size: 16px;
}

a{
	color: #17D1FF;
}
ul li{
	margin: 0;
	font-family: monospace;
	font-size: 16px;
}

nav ul li {
	margin: 0;
	display: inline-block;
	list-style-type: none;
	padding: 5px 40px;	
	font-size: 20px;
}

nav ul li a{
	color: white;
}

a:link{
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

.row:after {
    clear: both;
    content: " ";
    display: table;
}

.col img{
	border-radius: 5%;
	margin: .6%;
	width: 32%;
	float:left;
}

.collist{
	margin: .6%;
	width: 32%;
	float:left;
}

footer{
	position:abolute;
	bottom:0;
	font-size: 12px;
}